<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
        <h1>Ligas de beisbol</h1>
        <ol>
            {% for Baseball in ligas_biesbol %}
                <li>{{ Baseball.name }}</li>
            {% endfor %}
        </ol>
        <h1>Ligas de Mujeres</h1>
        <ol>
            {% for Women in ligas_mujeres %}
                <li>{{ Women.name }}</li>
            {% endfor %}
        </ol>

        <h1>Cualquier tipo de Hockey</h1>
        <ol>
            {% for Hockey in tipo_hockey %}
                <li>{{ Hockey.name }}</li>
            {% endfor %}
        </ol>

        <h1>Deportes que no son Futbol</h1>
        <ol>
            {% for not_Football_Soccer in no_futbol %}
                <li>{{ not_Football_Soccer.name }} {{ not_Football_Soccer.sport }}</li>
            {% endfor %}
        </ol>

        <h1>Ligas llamadas conferencias</h1>
        <ol>
            {% for conferences in ligas_conferencias %}
                <li>{{ conferences.name }}</li>
            {% endfor %}
        </ol>

        <h1>Ligas de la region Atlantica</h1>
        <ol>
            {% for Atlantic in ligas_region_atlantica %}
                <li>{{ Atlantic.name }}</li>
            {% endfor %}
        </ol>

        <h1>Teams con sede en Dallas</h1>
        <ol>
            {% for Dallas in teams_Dallas %}
                <li>{{ Dallas.location }} {{ Dallas.team_name }}</li>
            {% endfor %}
        </ol>

        <h1>Teams llamados Raptors</h1>
        <ol>
            {% for Raptors in teams_Raptors %}
                <li>{{ Raptors.location }} {{ Raptors.team_name }}</li>
            {% endfor %}
        </ol>

        <h1>Teams que incluyen City en su ubicacion</h1>
        <ol>
            {% for city in teams_city %}
                <li>{{ city.location }} {{ city.team_name }}</li>
            {% endfor %}
        </ol>

        <h1>Teams que su nombre comienza con T</h1>
        <ol>
            {% for T in teams_t %}
                <li>{{ T.location }} {{ T.team_name }}</li>
            {% endfor %}
        </ol>

        <h1>Teams ordenados de A a Z por ubicacion</h1>
        <ol>
            {% for az in teams_az %}
                <li>{{ az.location }} {{ az.team_name }}</li>
            {% endfor %}
        </ol>


        <h1>Teams ordenados por nombre de equipo de Z a A</h1>
        <ol>
            {% for za in teams_za %}
                <li>{{ za.team_name }}</li>
            {% endfor %}
        </ol>

        <h1>Jugadores con apellido Cooper</h1>
        <ol>
            {% for cooper in player_Cooper %}
                <li>{{ cooper.last_name }} {{ cooper.first_name }}</li>
            {% endfor %}
        </ol>

        <h1>Jugadores con nombre Joshua</h1>
        <ol>
            {% for joshua in player_Joshua %}
                <li>{{ joshua.last_name }} {{ joshua.first_name }}</li>
            {% endfor %}
        </ol>

        <h1>Jugadores con nombre Joshua pero sin el apellido Cooper</h1>
        <ol>
            {% for joshua in player_joshua_no_cooper %}
                <li>{{ joshua.last_name }} {{ joshua.first_name }}</li>
            {% endfor %}
        </ol>

        <h1>Jugadores con nombre Alexander o Wyatt</h1>
        <ol>
            {% for alexander in player_Alexander_Wyatt %}
                <li>{{ alexander.last_name }} {{ alexander.first_name }}</li>
            {% endfor %}
        </ol>

        <h1>ORM 2</h1>

        <h1>Teams de Atlantic Soccer Conference</h1>
        <ol>
            {% for soccer in teams_Atlantic_soccer %}
                <li>{{ soccer.team_name }} {{ soccer.location }}</li>
            {% endfor %}
        </ol>

        <h1>Jugadores de Boston Penguins</h1>
        <ol>
            {% for penguins in player_penguins %}
                <li>{{ penguins.first_name }} {{ penguins.last_name }}</li>
            {% endfor %}
        </ol>
                <h1>todos los jugadores (actuales) en la International Collegiate Baseball Conference</h1>
		<ol>
           {% for player in Iplayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

        <h1>todos los jugadores (actuales) en la Conferencia Americana de Fútbol Amateur con el apellido "López"</h1>
		<ol>
            {% for player in Lplayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

        <h1>Todos los jugadores de fútbol</h1>
		<ol>
           {% for player in fplayers %}
				<li>{{player.first_name}} {{player.last_name}} - {{ player.team }}</li>
			{% endfor %}
		</ol>

        <h1>todos los equipos con un jugador (actual) llamado "Sophia"</h1>
		<ol>
            {% for team in steams %}
				<li>{{team.id}} {{team.location}} {{team.team_name}}</li>
			{% endfor %}

		</ol>

        <h1>todas las ligas con un jugador (actual) llamado "Sophia"</h1>
		<ol>
            {% for league in sleague %}
				<li>{{league.name}} {{league.sport}}</li>
			{% endfor %}
		</ol>

        <h1> todos con el apellido "Flores" que NO (actualmente) juegan para los Washington Roughriders</h1>
		<ol>
            {% for player in notfplayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

        <h1> todos los equipos, pasados y presentes, con los que Samuel Evans ha jugado</h1>
		<ol>
           {% for team in seteams %}
				<li>{{team.id}} {{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>

        <h1> todos los jugadores, pasados y presentes, con los gatos tigre de Manitoba</h1>
		<ol>
           {% for player in maniplayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

        <h1> todos los jugadores que anteriormente estaban (pero que no lo están) con los Wichita Vikings </h1>
		<ol>
            {% for player in vikiplayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

        <h1> cada equipo para el que Jacob Gray jugó antes de unirse a los Oregon Colts </h1>
		<ol>
            {% for team in jacteams %}
				<li>{{team.id}} {{team.location}} {{team.team_name}}</li>
			{% endfor %}
		</ol>

        <h1> todos llamados "Joshua" que alguna vez han jugado en la Federación Atlántica de Jugadores de Béisbol Amateur </h1>
		<ol>
            {% for player in atplayers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% endfor %}
		</ol>

        <h1>todos los equipos que han tenido 12 o más jugadores, pasados y presentes. (SUGERENCIA: busque la función de anotación de Django). </h1>
		<ol>
           {% for team in playerNums %}
				<li>{{team.id}} {{team.location}} {{team.team_name}} {{team.nplayer }}</li>
			{% endfor %}
		</ol>

        <h1>todos los jugadores y el número de equipos para los que jugó, ordenados por la cantidad de equipos para los que han jugado </h1>
		<ol>
            {% for team in allplayerteam %}
				<li>{{team.location}} {{team.team_name}} <u>Number of players</u> {{team.nplayer }}</li>
			{% endfor %}
		</ol>


		</ol>
	</body>
</html>